body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    color: #000;
}