/*
    Book Home
*/

.card {
    border: none;
}

.bg-img {
    background-image: url("src/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-img {
    text-align: center;
    box-shadow: 0 3px 18px 5px rgb(0 0 0 / 35%);
}

.book-img:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

/*
    Book Detail
*/

.book-detail-img {
    box-shadow: 1px 3px 3px #000;
    border-radius: 5px;
}

.tab-description {
    padding: 1rem;
    margin: 1rem;
    font-size: inherit;
    line-height: 2rem;
}

.nav-tabs .nav-link {
    border-radius: 8px;
}

.nav-tabs .nav-link.active {
    box-shadow: 0px -3px 3px #000;
}

.tab-content {
    border: 0 solid #000;
    box-shadow: 1px 3px 3px grey;
}
